<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "nc.oreanet-fj.mobile"
        versionCode = "1" 
        version     = "0.0.3" >

    <!-- versionCode is optional and Android only -->

    <name>Oreanet FJ</name>

    <description>
        Help us prevent Crowns of thorns risks on coral reef ecosystems by reporting them using Oreanet FJ mobile application.
    </description>
   
    <icon src="pin5-oreanet.png" />

    <author href="https://oreanet-fj.ird.nc" email="sylvie.fiat@ird.fr">
        IRD, FIDJI USP
    </author>
    
    <!--
      This allows your app to load assets from all *.oreanet.ird.nc domains    
    <gap:access origin="http://oreanet-fj.ird.nc" subdomains="true" />
    <gap:access origin="*" />
    -->   
    
    <gap:plugin name="cordova-plugin-whitelist" source="npm" version="1.0.0" />
    <gap:allow-navigation href="http://rest-oreanet.ird.nc/*" />
    <gap:allow-navigation href="./index.html" />
    <gap:allow-navigation href="./list.html" />
    <gap:allow-navigation href="./index.html?id=" />

</widget>
